{% extends 'SuperShoesBundle::base.html.twig' %}

{% block title %}SuperShoes - Create Store{% endblock %}
{% block content %}
    <h1>Create Store</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}