{% extends 'SuperShoesBundle::base.html.twig' %}

{% block title %}SuperShoes - Create Article{% endblock %}
{% block content %}
    <h1>Create Article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}